<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of People</title>
</head>
<body>
    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
    <h1>List of People</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Cellphone</th>
        </tr>
        <tr th:each="person : ${allPeople}">
            <td th:text="${person.id}"> </td>
            <td th:text="${person.name}"> </td>
            <td th:text="${person.lastName}"> </td>
            <td th:text="${person.age}"> </td>
            <td th:text="${person.number}"> </td>
        </tr>
    </table>
    <a href="#" th:href="@{/new-person}">New Person</a>
</body>
</html>